/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: black;
  --text-color: blue;
  --text-opacity: 5%;
  --text-rotation: -45deg;
}


body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  background-color: #000000;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: center;

}
